.p-inquiry-success__container {
  text-align: center;
  margin-bottom: 10px;
}

.p-inquiry-success__text {
  font-size: 18px;
  font-weight: bold;
}

.p-inquiry-success__box {
  padding: 30px 30px 22px 30px;
  background: rgba(255, 255, 255, 0.29);
}
