/* ==================================================
  p-top-mainvisual
================================================== */
.p-top-mainvisual {
  background: url("../img/top_mainv-pc.png");
  background-position: center;
  background-size: cover;
  height: 520px;
  width: 100vw;
  padding: 60px 110px;
  color: #fff;
}

.p-top-mainvisual__container {
  max-width: 920px;
  margin: auto;
}

.p-top-mainvisual__top {
  margin-bottom: 50px;
}

.p-top-mainvisual__top--info {
  font-size: 34px;
}

.p-top-mainvisual__top--title {
  font-size: 90px;
}

.p-top-mainvisual__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.p-top-mainvisual__bottom--day {
  font-size: 35px;
  width: 370px;
}

.p-top-mainvisual__bottom--detail {
  width: 340px;
  font-size: 14px;
}

.p-top-mainvisual__bottom--detail > span {
  font-weight: bold;
}
