/* ==================================================
  c-footer
================================================== */
.c-footer {
  &__logo {
    width: 120px;
    margin: 0 auto;
  }

  &__copyright {
    text-align: center;
    font-size: 12px;
    color: #888;

    @include mq(sp) {
    margin-top: 5px;
    }
  }
}

.c-footer-nav {
  &__list {
    @include mq(sp) {
    text-align: center;
    margin-top: 16px;
    }

    @include mq(pc) {
      display: flex;
      justify-content: center;
    }
    margin-top: 8px;
  }

  &__item {
    @include mq(sp) {
      margin-right: 0;
    }
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    font-size: 12px;
    color: $font-color;
    padding: 1em 0;
    @include mq(sp) {
    padding: .3em 0;
    }
  }
}

.c-footer-sns {
  &__list {
    text-align: center;
    @include mq(sp) {
    margin-top: 14px;
    }
  }

  &__item {
    display: inline-block;
    margin-left: 8px;
  }

  &__link {
    display: block;
    color: $primary-color;
    font-size: 24px;
    padding: 0.1em 0.5em;
  }
}
