/* ==================================================
  .c-header
================================================== */
.c-header-logo {
  width: 120px;
}

.c-header-nav {
  margin-left: auto;

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 46px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    color: $font-color;
    height: 70px;
    line-height: 70px;
    letter-spacing: 0.1em;
  }
}
