/* ==================================================
  .l-footer
================================================== */
.l-footer {
  background-color: #f7f7f7;
  padding: 42px 40px 12px;
  @include mq(sp) {
  padding: 36px 0 14px;
  }
}
