<footer class="l-footer">
  <div class="c-footer__logo">
    <img src="<%= path %>/img/logo.png" alt="">
  </div>
  <ul class="c-footer-nav__list">
    <li class="c-footer-nav__item">
      <a class="c-footer-nav__link" href="#">プライバシーポリシー</a>
    </li>
    <li class="c-footer-nav__item">
      <a class="c-footer-nav__link" href="#">特定商取引法に基づく表記</a>
    </li>
  </ul>
  <ul class="c-footer-sns__list">
    <li class="c-footer-sns__item">
      <a class="c-footer-sns__link" href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
    </li>
    <li class="c-footer-sns__item">
      <a class="c-footer-sns__link" href="#" aria-label="instagram"><i class="fab fa-instagram"></i></a>
    </li>
    <li class="c-footer-sns__item">
      <a class="c-footer-sns__link" href="#" aria-label="line"><i class="fab fa-line"></i></a>
    </li>
  </ul>
  <p class="c-footer__copyright"><small lang="en">© 2020 sobolon All rights reserved</small></p>
</footer>
<!-- /.footer -->
<script src="./js/script.js"></script>
</body>
</html>