<header class="l-header">
  <div class="l-header__wrap l-inner-wrap">
    <h1 class="c-header-logo">
      <a href="/">
        <img src="<%= path %>/src/img/logo.png" alt="sobolon" />
      </a>
    </h1>
    <nav class="c-header-nav is-pc">
      <ul class="c-header-nav__list">
        <li class="c-header-nav__item">
          <a class="c-header-nav__link" href="#concept">Concept</a>
        </li>
        <li class="c-header-nav__item">
          <a class="c-header-nav__link" href="#feature">Feature</a>
        </li>
        <li class="c-header-nav__item">
          <a class="c-header-nav__link" href="#products">Products</a>
        </li>
        <li class="c-header-nav__item">
          <a class="c-header-nav__link" href="#news">News</a>
        </li>
        <li class="c-header-nav__item">
          <a class="c-header-nav__link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <!-- /.SP用ハンバーガーメニュー -->
    <nav class="c-global-nav is-sp">
      <ul class="c-global-nav__list" id="list">
        <li class="c-global-nav__item"><a href="#concept">Concept</a></li>
        <li class="c-global-nav__item"><a href="#feature">Feature</a></li>
        <li class="c-global-nav__item"><a href="#products">Products</a></li>
        <li class="c-global-nav__item"><a href="#news">News</a></li>
        <li class="c-global-nav__item"><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <div class="c-hamburger is-sp" id="js-hamburger">
      <span class="c-hamburger__line c-hamburger__line--1"></span>
      <span class="c-hamburger__line c-hamburger__line--2"></span>
      <span class="c-hamburger__line c-hamburger__line--3"></span>
    </div>
    <div class="c-black-bg is-sp" id="js-black-bg"></div>
    <!-- /.SP用ハンバーガーメニュー -->
  </div>
</header>
<!-- /.header -->
